In [1]:
import urllib.request, urllib.parse, urllib.error
import http
import sqlite3
import json
import time
import ssl
import sys

In [2]:
api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'

if api_key is False:
    api_key = 42
    serviceurl = "http://py4e-data.dr-chuck.net/json?"
else :
    serviceurl = "https://maps.googleapis.com/maps/api/geocode/json?"

# Additional detail for urllib
# http.client.HTTPConnection.debuglevel = 1

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

In [7]:
conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS Locations (address TEXT, geodata TEXT)''')

fh = open("where.data")
count = 0
for line in fh:
    if count > 10 :
        print('Retrieved 10 locations, restart to retrieve more')
        break

    address = line.strip()
    print('')
    cur.execute("SELECT geodata FROM Locations WHERE address= ?",
        (memoryview(address.encode()), ))

    try:
        data = cur.fetchone()[0]
        print("Found in database ",address)
        continue
    except:
        pass

    parms = dict()
    parms["address"] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters', data[:20].replace('\n', ' '))
    count = count + 1

    try:
        js = json.loads(data)
    except:
        print(data)  # We print in case unicode causes an error
        continue

    if 'status' not in js or (js['status'] != 'OK' and js['status'] != 'ZERO_RESULTS') :
        print('==== Failure To Retrieve ====')
        print(data)
        break

    cur.execute('''INSERT INTO Locations (address, geodata)
            VALUES ( ?, ? )''', (memoryview(address.encode()), memoryview(data.encode()) ) )
    conn.commit()
    if count % 10 == 0 :
        print('Pausing for a bit...')
        time.sleep(5)

print("Run geodump.py to read the data from the database so you can vizualize it on a map.")

Found in database  AGH University of Science and Technology

Found in database  Academy of Fine Arts Warsaw Poland

Found in database  American University in Cairo

Found in database  Arizona State University

Found in database  Athens Information Technology

Found in database  BITS Pilani

Found in database  Babcock University

Found in database  Banaras Hindu University

Found in database  Bangalore University

Found in database  Baylor University

Found in database  Beijing normal university

Retrieving http://py4e-data.dr-chuck.net/json?address=Belarusian+State+University&key=42
Retrieved 4476 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Belgrade+University&key=42
Retrieved 1944 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Beloit+College&key=42
Retrieved 2248 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Belorussian+State+University&key=42
Retrieved 4542 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Ben+Gurion+University&key=42
Retrieved 2337 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Bharthidasan+University&key=42
Retrieved 1893 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Boston+University&key=42
Retrieved 1982 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=California+Polytechnic+State+University+of+San+Luis+Obispo&key=42
Retrieved 1842 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=California+State+University+San+Bernardino&key=42
Retrieved 2164 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=City+of+Westminster+College&key=42
Retrieved 2108 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=Columbia+University&key=42
Retrieved 4410 characters {    "results" : [
Retrieved 10 locations, restart to retrieve more
Run geodump.py to read the data from the database so you can vizualize it on a map.

In [8]:
import sqlite3
import json
import codecs

In [9]:
conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('SELECT * FROM Locations')
fhand = codecs.open('where.js', 'w', "utf-8")
fhand.write("myData = [\n")
count = 0
for row in cur :
    data = str(row[1].decode())
    try: js = json.loads(str(data))
    except: continue

    if not('status' in js and js['status'] == 'OK') : continue

    lat = js["results"][0]["geometry"]["location"]["lat"]
    lng = js["results"][0]["geometry"]["location"]["lng"]
    if lat == 0 or lng == 0 : continue
    where = js['results'][0]['formatted_address']
    where = where.replace("'", "")
    try :
        print(where, lat, lng)

        count = count + 1
        if count > 1 : fhand.write(",\n")
        output = "["+str(lat)+","+str(lng)+", '"+where+"']"
        fhand.write(output)
    except:
        continue

fhand.write("\n];\n")
cur.close()
fhand.close()
print(count, "records written to where.js")
print("Open where.html to view the data in a browser")

aleja Adama Mickiewicza 30, 30-059 Kraków, Poland 50.06688579999999 19.9136192
Krakowskie Przedmieście 5, 00-068 Warszawa, Poland 52.2394019 21.0150792
AUC Avenue، Road، First New Cairo, Cairo Governorate 11835, Egypt 30.0189275 31.499707
Phoenix, AZ 85004, USA 33.4532165 -112.0719833
Athens, OH 45701, USA 39.3301047 -82.1076022
Vidya Vihar, Pilani, Rajasthan 333031, India 28.3588163 75.58802039999999
Ilishan-Remo, Nigeria 6.8939569 3.7187158
Ajagara, Varanasi, Uttar Pradesh 221005, India 25.2677203 82.99125819999999
Mysore Rd, Jnana Bharathi, Bengaluru, Karnataka 560056, India 12.9503878 77.5022224
1311 S 5th St, Waco, TX 76706, USA 31.5488923 -97.1130573
19 Xinjiekou Outer St, Bei Tai Ping Zhuang, Haidian Qu, Beijing Shi, China, 100875 39.9619537 116.3662615
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
700 College St, Beloit, WI 53511, USA 42.5030333 -89.0309048
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
1000 Finch Ave W, North York, ON M3J 2V5, Canada 43.76908419999999 -79.4692584
Palkalaiperur, Tiruchirappalli, Tamil Nadu 620024, India 10.6779085 78.74454879999999
Boston, MA 02215, USA 42.3504997 -71.1053991
San Luis Obispo, CA 93407, USA 35.3050053 -120.6624942
5500 University Pkwy, San Bernardino, CA 92407, USA 34.1817955 -117.3237219
25 Paddington Green, London W2 1NB, UK 51.5210038 -0.1746353
New York, NY 10027, USA 40.8075355 -73.9625727
22 records written to where.js
Open where.html to view the data in a browser

In [10]:
%%html
<iframe src="./where.html" width="1200" height="1000"></iframe>